.ms_text{
    color: lightskyblue;
}

.ms_selectdiv{
    background-color: mediumaquamarine;
    height: 70px;
}

.ms_ciao{
    height:70px;
}

.ms_main{
    background-color: lightgray;
    height: 700px;
}

.fas{
    font-size: 40px;
}

span{
    font-size: 15px;
    font-weight: 600;
}

